<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>葛宇杰的个人网站</title>
    <link rel="icon" href="images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="stylesheets/reset.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/header.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        
    </div>
    <canvas id="hello-canvas" height="930" width="1920">你的浏览器不支持canvas</canvas>
    <style>
        #root {
            height: 100%;
            width: 100%;
            min-width: 800px;
            position: fixed;
        }

        #hello-canvas {
            position: absolute;
            z-index: -1;
            top: 0;
        }
    </style>
    <script src="javascripts/utils/language.js"></script>
    <script src="javascripts/canvas.js"></script>
    <script src="javascripts/header.js"></script>
    <script>
        const Container = document.createElement('div')
        Container.setAttribute('class','app-welcome')
        const Html = `<p class="welcome-title">${language === 'CN' ? '欢迎!' : 'Welcome!'}</p>
            <a href="/home"><button class="welcome-button">${language === 'CN' ? '去主页' : 'go home page'}</button>
            </a>`
        Container.innerHTML = Html
        document.getElementById('root').appendChild(Container)
    </script>
</body>

</html>