.app-welcome {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.welcome-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.welcome-button {
    font-size: 18px;
    color: #ffffff;
    background-color: #4499c2;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid #3a8bb2;
    cursor: pointer;
}